In [108]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score,confusion_matrix,r2_score,mean_squared_error

In [109]:
df = pd.read_csv('houseprice.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [110]:
le = LabelEncoder()
columns = ["mainroad","guestroom","basement","hotwaterheating","airconditioning","parking","prefarea","furnishingstatus"]

for col in columns:
    df[col] = le.fit_transform(df[col])
df.dtypes

price               int64
area                int64
bedrooms            int64
bathrooms           int64
stories             int64
mainroad            int32
guestroom           int32
basement            int32
hotwaterheating     int32
airconditioning     int32
parking             int64
prefarea            int32
furnishingstatus    int32
dtype: object

In [111]:
# X = df.drop("price",axis = 1)
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,0
1,8960,4,4,4,1,0,0,0,1,3,0,0
2,9960,3,2,2,1,0,1,0,0,2,1,1
3,7500,4,2,2,1,0,1,0,1,3,1,0
4,7420,4,1,2,1,1,1,0,1,2,0,0

In [112]:
Y = df["price"]
Y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [113]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)
X_test.shape

(109, 12)

In [114]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)
X_train

array([[ 0.38416819,  0.05527092,  1.53917323, ...,  0.36795665,
        -0.55262032, -1.40940148],
       [ 0.9291807 ,  0.05527092,  1.53917323, ...,  2.70998729,
        -0.55262032, -0.07931697],
       [-0.60775457, -1.28351359, -0.5579503 , ...,  1.53897197,
        -0.55262032, -1.40940148],
       ...,
       [-0.29709744,  0.05527092,  1.53917323, ...,  0.36795665,
        -0.55262032, -1.40940148],
       [-0.5060189 , -1.28351359, -0.5579503 , ..., -0.80305867,
        -0.55262032,  1.25076755],
       [ 0.15707965,  0.05527092,  1.53917323, ...,  0.36795665,
        -0.55262032, -0.07931697]])

In [115]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [116]:
y_pred = model.predict(X_test)

In [117]:
accuracy = r2_score(y_test,y_pred)
accuracy

0.6390347652028495

In [118]:
error = mean_squared_error(y_test,y_pred)
error

1824524135775.932

In [119]:
# Accessing the coefficients
slope_a = model.coef_  # slope (a)
intercept_b = model.intercept_ 
print(slope_a)
print(intercept_b)

[ 519288.13010471   58690.91849754  523153.38284253  348177.1136099
  128115.92797751   89357.64620755  188462.04856579  150570.02827934
  362446.18646599  192786.98589143  266661.04914928 -158183.27016874]
4706527.385321101

In [151]:
new_data = pd.DataFrame({
    'area': [7420],
    'bedrooms': [4],
    'bathrooms': [2],
    'stories': [3],
    'mainroad': [1],
    'guestroom': [0],
    'basement': [0],
    'hotwaterheating': [0],
    'airconditioning': [1],
    'parking': [2],
    'prefarea': [1],
    'furnishingstatus': [0]
})

In [152]:
# new_data = pd.DataFrame({
#     'area':[7420],
#     'bedrooms':[4],
#     'bathrooms':[2],
#     'stories':[3],
#     'mainroad':['Yes'],
#     'guestroom':['no'],
#     'basement':['no'],
#     'hotwaterheating':['no'],
#     'airconditioning':['yes'],
#     'parking':[2],
#     'prefarea':['yes'],
#     'furnishingstatus':['furnished']})

In [153]:
new_data

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,0

In [154]:
# le = LabelEncoder()
# # new_data["mainroad"]= le.fit_transform(new_data["mainroad"])
# columns = ["mainroad","guestroom","basement","hotwaterheating","airconditioning","parking","prefarea","furnishingstatus"]
# for col in new_data.columns:
#     print(col)
#     new_data[col] = le.fit_transform(new_data[col])
# new_data

In [155]:
X_value = new_data

In [156]:
# X_value = new_data.drop("area",axis=1)

In [157]:
# Y_value = new_data["area"]

In [158]:
X_value = sc.fit_transform(X_value)

In [159]:
model.predict(X_value)

array([4706527.3853211])